body, .App, .App>div {
  height: 100vh
}

#navbar {
  width: 280px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.navlink {
  width: 100%;
  height: 60px;
  text-align: center;
  border-top: 1px solid white!important;
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.navlink:hover {
  background-color: lightslategray;
}

.view {
  margin-left: 280px;
}

.main-padding {
  height: 100%;
  padding: 50px 80px;
}

.full-height {
  height: 100%;
}

.card-padding {
  padding: 35px;
}