.btn-small {
    width: 10rem;
    border-radius: 25px;
    margin: 25px;
}

.btn-small:hover {
    background-color: gray;
}

.btn-icon {
    font-size: 40px;
    color: white;
    margin-right: 10px;
}